################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DynamicTimeTable/bin/Debug/net8.0
/DynamicTimeTable/obj
